# Prerequisites
*.d

# macOS
*.DS_Store
Build/.*
Build/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store
*.bin
*.txt
FindSDL2.cmake
*.recipe
*.tlog
*.list
*.aps
*.log
*.filters
*.depend
*.stamp
*.yaml
*.check_cache
*.rule
*.vcxproj
*.res
*.user
*.db-wal
*.db-shm
*.db
*.ipch
*.json
*.opendb
src/win32/.vs/avp/v17/.suo
*.vsidx
src/win32/CMakeFiles/3.29.3/CMakeCCompiler.cmake
src/win32/CMakeFiles/3.29.3/CMakeCXXCompiler.cmake
src/win32/CMakeFiles/3.29.3/CMakeRCCompiler.cmake
src/win32/CMakeFiles/3.29.3/CMakeSystem.cmake
src/win32/cmake_install.cmake
*.sln
